<!DOCTYPE html>
<html>

<head>
  <title>
    <%= subject %>
  </title>
</head>

<body>
  <h2>
    <%= subject %>
  </h2>
  <p></p>
  <p>
    <%= body %>
  </p>
  <p>
    <br />
  </p>
  <p>
    <strong>Debit Ratio</strong>
  </p>
  <p>
    <%= debitRatio %>
  </p>
</body>

</html>